body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F7FA;
}

/* main styles */

.main {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
}

/* content styles */

.content {
    background-color: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 105px 90px;
    
}

/* about user styles */

.about {
    width: 400px;
        height: 230px;
        margin-bottom: 40px;
}

.about-position {
font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 20px;
}

.about-name {
font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 25px;
}

.about-description {
font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

/* project styles */

.project {
margin-bottom: 50px;
    
}
.title {
    font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        color: #000000;
}

.projets-list {
    padding: 0;
    margin-left: 15px;
}

.li-project {
    font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        color: #000000;
}

.progect, 
.progects-link {
    font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #595959;
}

.progects-link {
    margin-left: 15px;
}

.scobka {
    font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        color: #000000;
}
/* work styles */

.work1 {
    margin-bottom: 15px;
    
}

.work2 {
    margin-bottom: 15px;
}

.work3 {
    margin-bottom: 45px;
}

.job-title {
    font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        margin-bottom: 10px;
}

.job-title-text {
    color: #FB6D3A
}

.work-data {
    font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #A8A8A8;
        margin-bottom: 10px;
}

.work-item {
    padding: 0;
    margin-left: 18px;
    font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #595959;
}
/* education styles */

.education {
    
}

.education-title {
    font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #FB6D3A;
        margin-bottom: 10px;
}

.education-job-title {
    font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        margin-bottom: 10px;
}
/* sidebar styles */

.sidebar {
    background: #1E2939;
    padding-top: 40px;
    width: 370px;
}

.foto {
    width: 370px;
    height: 354px;
    margin-bottom: 50px;
    
}

.contacts {
    padding-left: 40px;
    margin-bottom: 50px;
}

.sidebar-title {
    color: #FFFFFF;
    font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 10px;
}

.contacts-type {
    color: #FFFFFF;
    font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
}
.contacts-link {
    font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #6B727D;
}

.techskills {
    padding-left: 40px;
    margin-bottom: 45px;
}

.tech-skills-list {
    padding: 0;
    margin-left: 17px;
}

.li-styles {
    font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        color: #FB6D3A;
}

.word-styles {
    font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #FFFFFF;
}

.softskills {
    padding-left: 40px;
    
}

.soft-skills-list {
    padding: 0;
    margin-left: 17px;
}